/*-----------------------MAIN ----*/
main {
  height: 1215px;
  position: relative;
}
div#top_banner {
  height: 500px;
  position: relative;
}
div#top_banner figure:not(div#top_banner section li article figure) {
  background: url('./../assets/images/banner/shane-rounce-DNkoNXQti3c-unsplash.jpg')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
}
div#top_banner section {
  width: 100%;
  background-color: transparent;
  display: flex;
  padding: 3%;
  /* text-align: center;
  justify-content: center;
  align-items: center; */
}
div#top_banner section h2 {
  position: absolute;
  top: 100px;
  line-height: 1.2;
  filter: drop-shadow(2px 4px 6px black);
  text-align: center;
}
/*-----------------------GET INVOLVED OPTIONS----*/
section ul#getInvolved {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  list-style: none;
  column-gap: 3px;
  row-gap: 10px;
  position: relative;
  list-style: none;
}
section ul#getInvolved li {
  border: 0.5px solid #dcdcdc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 3%;
  background-color: white;
  width: 97%;
}
section ul#getInvolved li:nth-child(2) {
  background-color: #eeb847;
}
section ul#getInvolved li article {
  /* width: 385px;*/
  height: 215px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3%;
}
section ul#getInvolved li article figure {
  width: 64px;
  height: 64px;
  position: relative;
}
section ul#getInvolved li article h4 em {
  font-size: 30px;
}
/*-----------------------ABOUT ----*/
section#about {
  position: relative;
  height: 100%;
  margin-bottom: 10%;
}
section#about h2:first-child {
  font: normal normal 300 26px/1 'Fraunces', serif;
  color: #432e41;
  padding: 0 3%;
  position: relative;
}
section#about h2:first-child ~ h2 {
  padding: 3%;
  position: relative;
}
section#about div {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
section#about div figure {
  background: url('./../assets/images/edson-diogo-Z9FZQMwCPpk-unsplash.jpg')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  order: -1;
}
section#about div p {
  padding: 3%;
}

button.donateBtn {
  background-color: #db3739;
  color: white;
  border: none;
  height: 50px;
  width: 94%;
  border-radius: 8px;
  font-size: 26px;
  position: relative;
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0 3%;
}
/*-----------------------DONATE GALLERY ----*/
section#donate_gallery h2:first-child {
  font-weight: 300;
  padding: 3%;
  margin: 3% 0;
}

section#donate_gallery ul {
  list-style: none;
}
section#donate_gallery ul li {
  border: 0.5px solid #dcdcdc;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 5%;
}
section#donate_gallery figure {
  width: 100%;
  height: 300px;
  margin-bottom: 3%;
}
section#donate_gallery figure img {
  object-fit: cover;
}
section#donate_gallery p {
  padding: 0 3%;
  text-align: justify;
  margin-bottom: 3%;
}
/*-----------------------Events & Partners ----*/
#upcoming_events {
  margin-top: 10%;
}
@media screen and (min-width: 576px) {
  section#about h2:first-child ~ h2 {
    padding: 0 3%;
  }
  section ul#getInvolved {
    position: absolute !important;
    top: 80%;
  }
  main {
    height: 1080px;
  }
  section#about div figure {
    height: 300px;
  }
  section#about {
    margin-bottom: 5%;
  }
  section#donate_gallery h2 {
    white-space: nowrap;
  }
  section ul#getInvolved {
    row-gap: 3px;
  }
}
@media screen and (min-width: 768px) {
  main {
    height: 669px;
  }
  section ul#getInvolved {
    display: flex;
    width: 94%;
    justify-content: center;
    column-gap: 10px;
  }
  section ul#getInvolved li {
    width: 33%;
    height: 250px;
  }
  button.donateBtn {
    width: 31%;
  }
  /*-----------------------DONATE GALLERY ----*/
  section#donate_gallery ul li article {
    padding: 3%;
  }
  section#donate_gallery ul li article div:first-child {
    display: flex;
    width: 100%;
    height: 200px;
  }
  section#donate_gallery figure {
    height: 100%;
    width: 45%;
  }
  section#donate_gallery ul li article div:nth-child(2) {
    padding-left: 3%;
    width: 100%;
  }
  section#donate_gallery h2:first-child {
    margin: 0;
  }
  section#donate_gallery ul li article div p {
    width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
  section#donate_gallery ul li article div button.donateBtn {
    width: 40%;
    height: 30px;
    font-size: 20px;
    margin: 0;
  }
  section#donate_gallery ul li {
    margin-bottom: 2%;
  }
  #upcoming_events {
    margin-top: 3%;
  }
}
@media screen and (min-width: 992px) {
  section#about div figure {
    background-position: left 0px top -45px;
    height: 350px;
  }
  section#donate_gallery ul li {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1%;
  }
  section#donate_gallery ul li article div:nth-child(2) {
    padding: 2%;
  }
  section#donate_gallery ul li article {
    padding: 0%;
  }
}
@media screen and (min-width: 1200px) {
  div#top_banner section {
    justify-content: center;
  }
  section ul#getInvolved {
    width: 80%;
    margin: auto;
    column-gap: 25px;
  }
  section ul#getInvolved li article {
    padding: 6%;
  }
  /*-----------------------ABOUT ----*/
  section#about {
    padding: 3%;
    margin-bottom: 0;
  }
  section#about div {
    flex-direction: row;
  }
  section#about div p,
  section#about h2:first-child,
  section#about h2:first-child ~ h2 {
    padding: 0;
  }
  section#about div p {
    padding-right: 2%;
    width: 150%;
  }
  section#about div figure {
    order: 0;
    height: 300px;
    background-position: left 0px top -14px;
  }
  button.donateBtn:first-of-type {
    margin: -2% 0 0 0;
  }
  /*-----------------------DONATE GALLERY ----*/
  section#donate_gallery {
    padding: 0 7% 5% 7%;
  }
  section#donate_gallery ul li {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    border: none;
  }
  section#donate_gallery h2:first-child {
    padding: 3% 0;
  }
  section#donate_gallery ul li article div button.donateBtn {
    width: 31%;
  }
}
@media screen and (min-width: 1400px) {
  div#top_banner section h2 {
    top: 161px;
  }
}
