/*-----------------------MAIN ----*/
div#top_banner figure {
  background: url('./../assets/images/banner/martin-bekerman-2KxyxmXOjPs-unsplash-min.jpg')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#mission {
  width: 100%;
  background-color: white;
  position: relative;
  padding: 6% 3% 2% 3%;
}
#mission h2 {
  text-align: center;
  line-height: 1;
  margin-bottom: 5%;
  font-size: 52px;
}

/*------True talk articales ----*/
#true_talk_articles {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #fff;
  padding: 10% 0 10% 7%;
}
#articles {
  display: flex;
  grid-gap: 10px;
  padding: 1% 0;
}
#articles article {
  width: 385px;
  height: 205px;
  border-radius: 49px;
  border: 1px solid red;
}
/*-----------------------PARALEX ----*/
.parallex-section {
  margin: 0;
  padding: 0;
}
.parallex {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
  display: block;
  width: 100%;
}
.parallex1 {
  height: 50vh;
  background-position: left 0px bottom 0px;
}
.parallex2 {
  height: 100%;
}
.parallex-section > div > div {
  padding: 3%;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

#parallex-set-1 {
  /*---breaking throughthe limits ----*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../assets/images/parallex/doug-linstedt-jEEYZsaxbH4-unsplash-min.jpg');
}
#parallex-set-2 {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.2));
  background-color: white;
}
/*-----------------------STORY ----*/
#story header {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding: 10% 3% 2% 3%;
  position: relative;
  display: flex;
}
#story header h1,
#story header h3 {
  display: flex;
  padding-right: 3%;
}
#story header h1 em {
  font-size: 62px;
  align-self: start;
  color: #542950;
  order: 1;
}
#story header h2 {
  width: 100%;
  order: 2;
  text-align: center;
  margin: 7%;
  align-self: center;
}
#story header h3 em {
  align-self: end;
}
#partners {
  position: relative;
}
/*-----------------------Gallery ----*/
#gallery {
  width: 100%;
  padding: 6% 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  padding: 1% 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.col img {
  width: 100%;
  height: 100%;
  padding-top: 3%;
}

#gallery .row:nth-child(1) .col:nth-child(1) img,
#gallery .row:nth-child(2) .col:nth-child(2) img,
#gallery .row:nth-child(3) .col:nth-child(3) img {
  object-fit: contain;
  height: 100%;
}
#gallery .row:nth-child(2) .col.align-self_center {
  height: 115px;
}
#gallery .row:nth-child(1) .col:nth-child(4) {
  justify-content: start;
  padding: 0;
}
#gallery .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
  padding: 6% 3%;
}
#gallery .row:nth-child(3) .col:first-child .row2:first-child {
  order: 2;
}
#gallery .row:nth-child(3) .col:first-child .row2:last-child {
  order: 1;
}
#gallery .row:nth-child(2) .col:first-child.padding-0.paddingTB img {
  width: 100%;
}

/*-----------------------Partners ----*/
#partners {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3% 3% 9% 3%;
}
#partners h2 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-bottom: 3%;
}
.partners_layout {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  padding-top: 10%;
  align-self: center;
  display: flex;
  margin-bottom: 10%;
}
.partners_layout div {
  padding: 2% 3%;
  padding: 2% 5%;
  align-self: center;
}
#freya img,
#trueTalk img {
  width: 100%;
  height: 100%;
}
#freya button {
  background-color: transparent;
  border: 0;
  color: #fe9933;
  font: normal small-caps bold 48px/1.4 'Fraunces', serif;
}
.truTalk div {
  order: 2;
}
#true_talk_articles {
  background-color: transparent;
  position: relative;
}
#partners a {
  text-align: center;
  text-decoration: none;
}
#partners a h4 em {
  color: #db3739;
}
.partners_layout h4 {
  line-height: normal;
}
/*-----------------------CONTACT ----*/
#contact {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
#contact figure {
  width: 100%;
  height: 100%;
}
#contact img {
  width: 100%;
  height: 100%;
}
#contact .form {
  width: 100%;
  padding: 5% 3%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
form {
  width: 75%;
  display: grid;
}
form input {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid silver;
}
#message {
  width: 100%;
  height: 100px;
  border-radius: 11px;
  border: 1px solid silver;
}
form input[type='submit'] {
  width: 100%;
  background-color: #044235;
  color: white;
  font: normal small-caps normal 20px/1.4 'Fraunces', serif;
  height: 50px;
  justify-self: center;
}

@media screen and (min-width: 576px) {
  div#top_banner figure {
    background-position: right 0px top -45px;
  }
  #story h2 {
    margin-top: 0;
  }
  #story header h2 {
    margin: 7% 7% 0 7%;
  }
  #gallery {
    padding: 0;
  }
  .partners_layout {
    padding-top: 5%;
  }
}
@media screen and (min-width: 768px) {
  div#top_banner figure {
    background-position: right 0px top -75px;
  }
  #gallery {
    padding: 2% 3%;
  }
  #gallery .text {
    padding: 3%;
  }
  #gallery .row:nth-child(1) .col:nth-child(1) img,
  #gallery .row:nth-child(2) .col:nth-child(2) img,
  #gallery .row:nth-child(3) .col:nth-child(3) img {
    object-fit: cover;
    height: 100%;
  }
  .col {
    padding: 1% 1% 0 1%;
  }
  .col img {
    border-radius: 49px;
  }
  .partners_layout {
    align-self: center;
    flex-wrap: inherit;
    padding-top: 0%;
  }
  #partners {
    padding: 3% 3% 7% 3%;
  }
  #freya img,
  #trueTalk img {
    width: 250px;
    height: 225px;
    border-radius: 49px;
  }
  .truTalk div {
    order: inherit;
  }
  #true_talk_articles {
    padding: 10% 0 5% 7%;
  }
}
@media screen and (min-width: 992px) {
  div#top_banner {
    height: 500px;
  }
  #story header {
    height: 30vh;
  }
  #story header h2 {
    margin: 0% auto 0 auto;
    order: inherit;
  }
  .row {
    flex-wrap: inherit;
  }
  .col img {
    width: 45vw;
    padding-top: 3%;
  }
  #gallery .text {
    padding: 1%;
    margin-top: 3%;
  }
  #gallery .row:nth-child(2) .col:nth-child(1).col.padding-0.paddingTB,
  #gallery .row:nth-child(2) .col:nth-child(2).col.padding-0.paddingTB {
    width: 50%;
  }
  #gallery .row:nth-child(2) .col:nth-child(2) img {
    width: 35vw;
  }
  #gallery .row:nth-child(1) .col:nth-child(3),
  #gallery .row:nth-child(1) .col:nth-child(4),
  #gallery .row:nth-child(3) .col:nth-child(3) {
    display: none;
  }
  #gallery .row:nth-child(1) .col:nth-child(1) {
    align-self: self-start;
  }
  #gallery .row:nth-child(1) .col:nth-child(3) {
    position: absolute;
    left: 16%;
    top: 45.5%;
    width: 35%;
    text-align: end;
  }
  #contact figure {
    width: 50%;
    height: auto;
  }
  #contact img {
    object-fit: cover;
  }
  #contact .form {
    width: 50%;
  }
  .partners_layout {
    width: auto;
    height: 35%;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  div#top_banner figure {
    background-position: right 0px top -150px;
  }
  #true_talk_articles {
    padding: 7% 0 2% 7%;
  }
  #story header {
    padding: 6% 3% 2% 3%;
  }
  #mission {
    padding: 4% 3% 2% 3%;
  }
  #mission h2 {
    margin-bottom: 2%;
  }
}
@media screen and (min-width: 1400px) {
  h2 {
    font: normal normal bold 70px/1.4 'Fraunces', serif;
  }
  div#top_banner {
    height: 600px;
  }
  div#top_banner figure {
    background-position: right 0px top -183px;
  }
  .parallex1 {
    background-position: right 0px bottom 0px;
  }
  #story header {
    width: 90%;
    height: 340px;
  }
  #story header h1 em {
    order: 2;
  }
  #story header h2 {
    width: 35%;
    align-self: center;
  }
  #gallery {
    padding: 2%;
  }
  .col {
    padding: 1% 1% 0 1%;
  }
  .col img {
    width: 25vw;
  }

  #gallery .row:nth-child(2) .col:first-child.padding-0.paddingTB {
    margin-left: 10%;
  }
  #gallery .row:nth-child(2) .col:first-child.padding-0.paddingTB img {
    width: 25vw;
  }
  #gallery .row:nth-child(3) .col:first-child .row2:first-child {
    order: 1;
  }
  #gallery .row:nth-child(3) .col:first-child .row2:last-child {
    order: 2;
  }
  #gallery .row:nth-child(1) .col:nth-child(3) {
    display: flex;
  }
  #gallery .row:nth-child(1) .col:nth-child(4),
  #gallery .row:nth-child(3) .col:nth-child(3) {
    display: block;
  }
  #gallery .row:nth-child(1) .col:nth-child(3) {
    position: relative;
    left: inherit;
    top: inherit;
    width: 100%;
    text-align: start;
  }
  #gallery .row:nth-child(3) .col:first-child .row2:first-child,
  #gallery .row:nth-child(3) .col:nth-child(2) .row2:last-child,
  #gallery .row:nth-child(3) .col:nth-child(3) .row2:last-child {
    width: 85%;
  }
  #gallery .row:nth-child(1) .col:nth-child(1) img,
  #gallery .row:nth-child(2) .col:nth-child(2) img,
  #gallery .row:nth-child(3) .col:nth-child(3) img {
    object-fit: contain;
    height: 100%;
    width: 27vw;
  }
  #freya img,
  #trueTalk img {
    width: 250px;
    height: 225px;
    border-radius: 49px;
  }
  .partners_layout {
    width: 1000px;
    height: 225px;
  }
}
@media screen and (min-width: 1600px) {
  div#top_banner {
    height: 650px;
  }
  div#top_banner figure {
    background-position: right 0px top -210px;
  }
}
