/*-----------------------Not Specific ----*/
.border {
  border: 2px solid red;
}
.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
/*-----------------------padding 1% ----*/
.padding-0 {
  padding: 0 !important;
}
.padding {
  padding: 1% !important;
}
.padding-right {
  padding-right: 1% !important;
}
.padding-left {
  padding-left: 1% !important;
}
.padding-top {
  padding-top: 1% !important;
}
.padding-bottom {
  padding-bottom: 1% !important;
}
.paddingTB {
  padding-top: 1% !important;
  padding-bottom: 1% !important;
}
.paddingRL {
  padding-right: 1% !important;
  padding-left: 1% !important;
}
/*-----------------------Margin Spaces 5vh ----*/
.margin-top-space {
  margin-top: 5vh !important;
}
.margin-bottom-space {
  margin-bottom: 5vh !important;
}
.margin-right-space {
  margin-right: 5vh !important;
}
.margin-left-space {
  margin-left: 5vh !important;
}
.marginTB-space {
  margin-top: 5vh !important;
  margin-bottom: 5vh !important;
}
.margin-LR-space {
  margin-left: 5vh !important;
  margin-right: 5vh !important;
}
.margin-space {
  margin: 5vh !important;
}
/*-----------------------MARGINS 1% ----*/

.margin-0 {
  margin: 0 !important;
}
.margin {
  margin: 1% !important;
}
.margin-right {
  margin-right: 1% !important;
}
.margin-left {
  margin-left: 1% !important;
}
.margin-top {
  margin-top: 1% !important;
}
.margin-bottom {
  margin-bottom: 1% !important;
}
.marginTB {
  margin-top: 1% !important;
  margin-bottom: 1% !important;
}
.marginRL {
  margin-right: 1% !important;
  margin-left: 1% !important;
}
/*-----------------------FLEX ----*/
.flex {
  display: flex;
}
.flexwrap {
  /*----change ----*/
  flex-wrap: wrap;
}
/*-----------------------ALIGNMENT ----*/
.align-right {
  text-align: end;
}
.align-center {
  text-align: center;
}
.align-justify {
  text-align: justify;
}
.align-self_center {
  align-self: center;
}
.align-self_end {
  align-self: end;
}
.justify-content-end {
  justify-content: end !important;
}
.justify-content-center {
  justify-content: center !important;
}

/*-----------------------object fit ----*/
.object-fill {
  object-fit: fill !important;
}

.object-contain {
  object-fit: contain !important;
}

.object-cover {
  object-fit: cover !important;
}

.object-fit-none {
  object-fit: none !important;
}
.object-scale-down {
  object-fit: scale-down !important;
}
/*-----------------------misc ----*/
.line-Height_xs {
  line-height: 1 !important;
}
