@-ms-viewport {
  width: device-width;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  font: normal small-caps normal 16px / 1.2 'Darker Grotesque', sans-serif;
}
h1 {
  font: normal small-caps bold 100px/1.2 'Fraunces', serif;
  color: #eeb847;
}
h1 em {
  font: normal normal 300 100px/1 'Darker Grotesque', sans-serif;
  color: #d2d2d2;
}
h2 {
  font: normal normal bold 52px/1.2 'Fraunces', serif;
  color: #eeb847;
}
h2 em {
  font: normal normal 300 85px/1.2 'Fraunces', serif;
  color: #d2d2d2;
}
h3 {
  font: normal normal 300 45px/1.2 'Darker Grotesque', sans-serif;
  color: #432e41;
}
h3 em {
  font: normal small-caps 600 48px/1.2 'Darker Grotesque', sans-serif;
  color: #432e41;
}
h4 {
  font: normal normal normal 34px/0.5 'Fraunces', serif;
  color: #432e41;
}
h4 em {
  font: normal normal normal 26px/1 'Fraunces', serif;
  color: #432e41;
}
h5,
label {
  font: normal small-caps normal 20px/1 'Fraunces', serif;
  color: #432e41;
}
p {
  font: normal normal normal 16px/1.2 'Darker Grotesque', sans-serif;
  color: #000;
}
/*-----------------------HEADER ----*/
body > header {
  background-color: rgba(36, 17, 8, 0.4);
}
header {
  width: 100%;
  height: 4rem;
  position: absolute;
  top: 0;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.logo {
  width: auto;
  height: auto;
  position: relative;
  top: -13px;
  left: 5px;
  display: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: end;
}
nav ul {
  display: flex;
  text-align: center;
  /* margin-right: 7%; */
}
nav li {
  list-style: none;
  width: 5.5rem;
}
nav a {
  text-decoration: none;
}
nav a h5 {
  text-decoration: none;
  color: #d2d2d2;
  filter: drop-shadow(2px 4px 6px black);
  min-width: 80px;
}
nav a h5:active {
  color: #fe9933;
}
nav a h5:hover {
  color: #eeb847;
}
/*-----------------------TOP BANNER ----*/
div#top_banner {
  width: 100%;
  height: 325px;
  background-color: white;
  position: relative;
}
/*-----------------------TOP BANNER ----*/
main {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  position: relative;
}
/*-----------------------EVENTS & PARTNERS ----*/
html body > div {
  background-image: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0.15)
  );
}
section#upcoming_events {
  background-color: transparent;
}
section#upcoming_events > h3 {
  margin-bottom: 3%;
}
#upcoming_events {
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 7%;
  margin-bottom: 10%;
}
#events ul {
  display: flex;
  grid-gap: 10px;
  padding: 1% 0;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}
#events li {
  position: relative;
}
li.container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #eeb847;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.description {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 30px;
  right: 5px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-3.5%, -57%);
}
.description em {
  color: black;
  font-weight: 500;
  font-style: normal;
  font-size: 22px;
  line-height: 0.5px;
}
.description p {
  text-align: justify;
}

#events li article {
  width: 385px;
  height: 255px;
  position: relative;
}
#events li article figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 3%;
}
#events li article figure div {
  width: 61%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5%;
  position: absolute;
  right: 0;
}
#events li article figure img {
  z-index: -100;
  visibility: hidden;
}
#events li article h1 {
  color: white;
  align-self: center;
  text-align: center;
  margin-bottom: 3%;
  font-size: 20px;
}
#events li article p {
  color: white;
  font-size: 16px;
}
#events li article figure div p:nth-of-type(4),
#events li article figure div p:nth-of-type(5),
#events li article figure div p:nth-of-type(6) {
  margin-left: 3%;
}
/*---PARTNERS ----*/
section#partners_gallery {
  padding: 0 0 0 7%;
}
section#partners_gallery h3 {
  white-space: nowrap;
  font-size: 40px;
}
ul.rotate {
  font-size: 500px;
  width: 100%;
  height: auto;
  padding: 3%;
  overflow: hidden;
  display: flex;
  list-style: none;
}

ul.rotate li {
  position: relative;
  left: 0;
  width: 1em;
  -webkit-animation: loop 25s infinite;
  -moz-animation: loop 25s infinite;
}
ul.rotate li > article {
  width: 100px;
  height: 115px;
  display: block;
  float: left;
  padding: 3%;
}
ul.rotate li > article a {
  text-decoration: none;
}
ul.rotate li > article a > figure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
ul.rotate li > article a > figure img {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  object-fit: contain;
  background: linear-gradient(to left top, #fff, #dcdcdc);
  border-radius: 50px;
}
ul.rotate li > article a > figure figcaption {
  font-size: 12px;
  width: 100%;
  position: relative;
  bottom: -75px;
}

@-webkit-keyframes loop {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -0.25em;
  }
  20% {
    left: -0.25em;
  }
  25% {
    left: -0.25em;
  }
  30% {
    left: -0.25em;
  }
  35% {
    left: -0.5em;
  }
  45% {
    left: -0.5em;
  }
  50% {
    left: -0.5em;
  }
  55% {
    left: -0.75em;
  }
  60% {
    left: -0.75em;
  }
  65% {
    left: -0.75em;
  }
  70% {
    left: -1em;
  }
  75% {
    left: -1em;
  }
  80% {
    left: -1em;
  }
  85% {
    left: -1.15em;
  }
  90% {
    left: -1.15em;
  }
  95% {
    left: -1.15em;
  }
}
@-moz-keyframes loop {
  0% {
    left: 0;
  }
  5% {
    left: 0;
  }
  10% {
    left: 0;
  }
  15% {
    left: -0.25em;
  }
  20% {
    left: -0.25em;
  }
  25% {
    left: -0.25em;
  }
  30% {
    left: -0.25em;
  }
  35% {
    left: -0.5em;
  }
  45% {
    left: -0.5em;
  }
  50% {
    left: -0.5em;
  }
  55% {
    left: -0.75em;
  }
  60% {
    left: -0.75em;
  }
  65% {
    left: -0.75em;
  }
  70% {
    left: -1em;
  }
  75% {
    left: -1em;
  }
  80% {
    left: -1em;
  }
  85% {
    left: -1.15em;
  }
  90% {
    left: -1.15em;
  }
  95% {
    left: -1.15em;
  }
}

/*-----------------------DIVIDER ----*/
.divider {
  background: url('../assets/images/africanColorBorder-min.JPG') no-repeat top
    center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 1.75rem;
  position: relative;
}
#main_slider .divider {
  position: absolute;
  bottom: 0px;
}
/*-----------------------DONATE ----*/
#donate {
  background-image: linear-gradient(rgba(84, 41, 80, 0.74), rgba(0, 0, 0, 0.4)),
    url('../assets/images/banner/shane-rounce-DNkoNXQti3c-unsplash-min.jpg');
  background-size: cover;
  width: 100%;
  height: 500px;
  position: relative;
  background-position: right 0px bottom 0px;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#donate h2 {
  line-height: 1.2;
  color: #d2d2d2;
}
/*-----------------------Footer ----*/
footer {
  width: 100%;
  height: 185px;
  background-color: #432e41;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 0;
}
footer div {
  display: flex;
  margin-bottom: -4%;
}
footer img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  margin-top: -8px;
}
footer h4 em {
  color: #d2d2d2;
  font-size: 20px;
}
.social_media {
  width: 75%;
  align-self: center;
}
.social_media ul {
  display: flex;
  justify-content: space-evenly;
}
.social_media li {
  list-style: none;
}
.map {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
}
.map a {
  text-decoration: none;
}
.map a h5 {
  color: #dcdcdc !important;
}
.social_media img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  h2 {
    font-size: 56px !important;
  }
  nav ul {
    margin-right: 7%;
  }
  main {
    margin-bottom: 6%;
  }
  .logo {
    width: 80px;
    height: 80px;
    display: block;
  }
  nav {
    width: 35%;
  }
  section#upcoming_events > h3 {
    margin-bottom: 2%;
  }
  #donate {
    height: 400px;
  }
  .social_media {
    width: 55%;
  }
}
@media screen and (min-width: 768px) {
  main {
    margin-bottom: 0;
  }
  div#top_banner {
    height: 400px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  #upcoming_events {
    padding: 5% 0 0 7%;
    margin-bottom: 5%;
  }
  ul.rotate {
    font-size: 300px;
  }
  footer {
    padding: 1% 3%;
    flex-direction: row;
    align-items: center;
    height: 125px;
  }
  .map {
    width: 27%;
  }
  .social_media {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  #partners {
    padding: 3% 3% 5% 3%;
  }
  #partners h2 {
    padding-bottom: 0;
  }
  ul.rotate li {
    -webkit-animation: none;
    -moz-animation: none;
  }
  footer {
    height: 70px;
    padding: 0 1% 1% 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  footer div {
    width: 35%;
    margin: 0;
    padding: 0;
  }
  footer img {
    margin-top: 0px;
  }
  footer div h4 {
    line-height: 0.5;
  }
  .map {
    width: 25%;
    padding-right: 3%;
  }
  .social_media {
    width: 32%;
  }
}
@media screen and (min-width: 1200px) {
  #upcoming_events {
    padding: 3% 0 3% 7%;
  }
  #partners {
    padding: 3% 3% 4% 3%;
  }
  ul.rotate li {
    -webkit-animation: none;
    -moz-animation: none;
  }
  .map {
    width: 20%;
  }
  footer {
    padding: 1%;
  }
  footer div {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .social_media {
    width: 25%;
    display: flex;
    justify-content: end;
  }
  .social_media ul {
    width: 85%;
  }
}
@media screen and (min-width: 1400px) {
  #partners {
    padding: 3%;
  }
  #upcoming_events {
    padding: 3% 0 0 7%;
  }
  ul.rotate li {
    -webkit-animation: none;
    -moz-animation: none;
  }
  .social_media {
    width: 30%;
  }
  .social_media ul {
    width: 70%;
  }
}
@media screen and (min-width: 1600px) {
  .map {
    width: 17%;
  }
}
@media screen and (min-width: 2000px) {
  #upcoming_events {
    padding: 0 0 3% 7%;
    margin-bottom: 0;
  }
}
