#story_banner {
  width: 100%;
  height: 300px;
  padding-bottom: 16%;
  position: relative;
  display: flex;
  justify-content: center;
}
#story_banner div {
  width: 100%;
  height: 200px;
  background-color: #432e41;
  position: absolute;
  top: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section#story_banner figure {
  height: 150px;
  width: 100%;
}
section#story_banner figure img {
  object-fit: cover;
}

#story_banner div h1 {
  color: #dcdcdc;
}
#story {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-top: 10%;
}

#story h2 {
  text-align: center;
}
#story p {
  text-align: justify;
}
#story a {
  text-align: center;
  color: #db3739;
}
section#partners_gallery {
  padding: 0 0 5% 7%;
}
#partners_gallery section {
  display: flex;
  justify-content: center;
}
#partners_gallery #events article {
  width: 45%;
  height: 45%;
  border-radius: 5px;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  width: auto;
}
#partners_gallery #events article figure {
  width: 60px;
  height: 60px;
}
#partners_gallery #events article img {
  object-fit: cover;
}
#projects_gallery {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
}
section#projects_gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style: none;
  column-gap: 3px;
  row-gap: 3px;
}
section#projects_gallery li {
  border-radius: 50px;
}
section#projects_gallery ul > li article {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 10vh;
}
section#projects_gallery ul > li article figure {
  width: 100%;
  height: 100%;
}
section#projects_gallery ul > li article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
section#projects_gallery ul > li article figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
section#projects_gallery ul > li article figure figcaption h5 {
  font-size: 1.25rem;
  color: white !important;
}
@media screen and (min-width: 576px) {
  #story_banner {
    height: 400px;
    width: 100vw;
  }
  #story_banner div {
    top: 145px;
  }
  section#story_banner figure {
    width: 100%;
    height: 100%;
  }
  #story {
    margin-top: 0%;
  }
}
@media screen and (min-width: 768px) {
  #story_banner {
    height: 420px;
  }
  section#story_banner div {
    width: 80%;
    top: 195px;
  }
  section#story_banner figure {
    height: 300px;
  }
}
@media screen and (min-width: 992px) {
  #story_banner {
    height: 450px;
    margin-bottom: -5%;
  }
  #story_banner {
    height: 475px;
  }
}
@media screen and (min-width: 1200px) {
  #story {
    padding: 0 3%;
  }
  #story h2 {
    margin-top: 3%;
  }
}
@media screen and (min-width: 1400px) {
  #story_banner {
    margin-bottom: -8%;
  }
  #story {
    margin-top: 2.5%;
  }
  #story h2 {
    margin-top: 4%;
  }
  #story_banner:has(> div.project) {
    height: 300px;
  }
}
@media screen and (min-width: 1600px) {
  #story_banner {
    margin-bottom: -10%;
  }
  #story {
    margin-top: 5.5%;
  }
}
