/*-----------------------BANNER ----*/
section#story_banner div.project h1 em,
section#story_banner div.program h1 em {
  font-size: 75px;
  line-height: 0.8;
  color: #dcdcdc;
}
#story_banner div h1 {
  line-height: 0.8;
  width: 90%;
  margin-top: 3%;
}
#story_banner div.project {
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
}
#story_banner:has(> div.project) {
  height: 100%;
}
/*-----------------------SLIDER ----*/
#slider {
  width: 100%;
  height: 535px;
}
figure {
  width: 100%;
  height: 100%;
}
#slider figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div#slider ul.pagination li {
  list-style: none;
}
#prev {
  position: absolute;
  top: 600px;
  left: 0;
  background-color: transparent;
  height: 5px;
  width: 100px;
  border: none;
}
#nex {
  position: absolute;
  top: 600px;
  right: 0;
  background-color: transparent;
  height: 5px;
  border: none;
  width: 100px;
}
#prev img,
#nex img {
  width: 40%;
}
#prev img:hover,
#nex img:hover {
  width: 40%;
  border-radius: 50%;
  border: 3px solid white;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3%;
}
/*-----------------------STORY ----*/
section#story {
  margin-top: 0;
  padding: 0 3% 3% 3%;
}
/*-----------------------EVENTS ----*/
#event {
  padding: 5%;
  margin: 10% 0;
}
#story section.event {
  display: flex;
  flex-wrap: wrap;
}
#event div.event_info {
  font-size: smaller;
  margin-bottom: 5%;
}
#event div.event_info div {
  display: flex;
  width: 100%;
}
#event div.event_info div label {
  width: 145px;
}
#event div.event_info div p {
  width: calc(100% - 150px);
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 2%;
}
#event h5 {
  padding: 3% 0;
}
/*-----------------------FUNDRAISE ----*/

section#fundraise p b {
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
section#fundraise div {
  display: flex;
  flex-direction: column;
  height: 87px;
  width: 100%;
  position: relative;
  justify-content: space-between;
  margin-bottom: 8%;
}
section#fundraise button {
  background-color: #db3739;
  color: white;
  border: none;
  height: 100px;
  width: 100%;
  border-radius: 8px;
  font-size: 26px;
  position: relative;
  line-height: 1.3;
}

section#fundraise h3 em {
  font-size: 43px;
}
section#fundraise h4 em {
  color: #000;
  font-weight: 300;
  position: relative;
}
#story:has(section#fundraise) {
  margin-top: 0;
  position: relative;
}

@media screen and (min-width: 576px) {
  section#fundraise button {
    height: 80px;
    width: 550px;
  }
  section#fundraise div {
    margin-bottom: 4%;
  }
  #story_banner:has(> div.project) h1 {
    width: 95%;
  }
  main#inAction:has(#story_banner div.project) #story h2 {
    margin-top: 0;
  }
  #event {
    margin: 0% 0 5% 0;
  }
}
@media screen and (min-width: 768px) {
  div#top_banner {
    height: 225px;
  }
  section#fundraise div {
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-bottom: 1.25%;
    position: relative;
    display: flex;
    flex-direction: row;
  }
  section#fundraise button {
    height: 60px;
  }
  #story_banner:has(> div.project) h1 {
    width: 95%;
    margin-top: 0;
  }
  #slider {
    padding: 4% 3% 0 3%;
  }
  #slider figure > img {
    border-radius: 49px;
    border: 0.2px solid #dcdcdc;
  }
  #prev {
    left: 1%;
    top: 500px;
  }
  #nex {
    right: 1%;
    top: 500px;
  }
  footer div {
    margin-bottom: -2%;
  }
  #event {
    display: flex;
    align-items: start;
    margin: 0;
  }
  #event div.event_info {
    width: 60%;
    padding-right: 5%;
  }
  #event .social_media {
    width: 40%;
    align-self: start;
  }
  #event div.event_info {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  div#top_banner {
    height: 275px;
  }
  #slider {
    height: 635px;
  }
  #prev {
    left: 2%;
    top: 600px;
  }
  #nex {
    right: 2%;
    top: 600px;
  }
  #event .social_media {
    width: 30%;
    align-self: start;
  }
  #event {
    margin-top: -2%;
    padding: 4% 5% 0 5%;
  }
}
@media only screen and (min-width: 1200px) {
  section#fundraise div {
    height: 60px;
  }
  #slider {
    height: 800px;
  }
  #prev {
    left: 2%;
    top: 700px;
  }
  #nex {
    right: 2%;
    top: 700px;
  }
  main#inAction:has(#story_banner div.project) #event {
    margin-top: 2%;
  }
  main#inAction:has(#story_banner div.project) #event .social_media {
    flex-direction: column;
  }
  #event div.event_info {
    width: 750px;
  }
  #event {
    padding: 0 5% 2% 5%;
  }
  #event div.event_info {
    margin-bottom: 5%;
  }
  footer div {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1400px) {
  section#story {
    margin-top: 0;
  }
  #prev {
    left: 3%;
  }
  #nex {
    right: 3%;
  }
  main#inAction:has(#story_banner div.project) #event .social_media {
    width: 35%;
  }
  #event div.event_info {
    margin-bottom: 3%;
  }
}
@media only screen and (min-width: 1600px) {
  section#story {
    padding: 0 3% 2% 3%;
  }
  #slider {
    height: 950px;
  }
  #prev {
    left: 4%;
    top: 750px;
  }
  #nex {
    right: 4%;
    top: 750px;
  }
  main#inAction:has(#story_banner div.project) #event .social_media ul {
    width: 55%;
  }
}
