#story_banner div {
  height: 100%;
  top: 0;
  text-align: center;
}
#story_banner {
  height: 350px;
}
@media screen and (min-width: 576px) {
  #story_banner {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  #story_banner {
    height: 300px;
  }
  section#story_banner div.project {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  #story_banner {
    height: 270px;
  }
  #slider {
    margin-top: 8%;
  }
}
@media screen and (min-width: 1400px) {
  #slider {
    margin-top: 10%;
  }
}
