main {
  margin-bottom: 0;
}
#story_banner div {
  width: 100%;
  height: 180px;
  background-color: #432e41;
  position: absolute;
  /* top: 120px; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
section#story_banner figure {
  background: url('./../assets/images/banner/gunter-hoffmann-M8aiq0pGzCo-unsplash_daisys.jpg')
    no-repeat top center / 100% 100%;
  background-size: cover;
  width: 100%;
  height: 150px;
}
/*-----------------------STORY ----*/
#story_banner div h1 {
  color: #dcdcdc;
}
#story {
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-top: 10%;
}

#story h2 {
  text-align: center;
}
#story p {
  text-align: justify;
}
#story a {
  text-align: center;
  color: #db3739;
}
/*-----------------------GALLERY ----*/
#projects_gallery {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  margin-bottom: 12%;
}
section#projects_gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  list-style: none;
  column-gap: 3px;
  row-gap: 3px;
}
section#projects_gallery li {
  border-radius: 50px;
}
section#projects_gallery ul > li article {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 10vh;
}
section#projects_gallery ul > li article figure {
  width: 100%;
  height: 100%;
}
section#projects_gallery ul > li article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
section#projects_gallery ul > li article figure figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}
section#projects_gallery ul > li article figure figcaption h5 {
  font-size: 1.25rem;
  color: white !important;
}
@media screen and (min-width: 576px) {
  #story {
    margin-top: 0%;
  }
}
@media screen and (min-width: 768px) {
  #story_banner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
  }
  section#story_banner div {
    width: 80%;
    top: 150px;
    height: 200px;
  }
  section#story_banner figure {
    height: 250px;
    background-position: right 0px top -150px;
  }
  #story {
    padding-top: 0;
  }
  #projects_gallery {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 1200px) {
  #story {
    padding: 0 3%;
  }
  #projects_gallery {
    margin-bottom: 3%;
  }
}
@media screen and (min-width: 1600px) {
  #projects_gallery {
    margin-bottom: 4%;
  }
}
