#story_banner div.program {
  padding: 3%;
  text-align: center;
  height: 300px;
}
#slider {
  width: 100%;
  height: 535px;
}
figure {
  width: 100%;
  height: 100%;
}
#slider figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#story,
#event {
  padding: 5%;
}
#story section.event {
  display: flex;
  flex-wrap: wrap;
}
#event div.event_info {
  font-size: smaller;
  margin-bottom: 5%;
}
#event div.event_info div {
  display: flex;
  width: 100%;
}
#event div.event_info div label {
  width: 145px;
}
#event div.event_info div p {
  width: calc(100% - 150px);
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 2%;
}
#event h5 {
  padding: 3% 0;
}

@media screen and (min-width: 576px) {
  #story_banner div.program {
    height: 280px;
  }
  #event {
    padding: 2% 5%;
  }
  #story h2 {
    margin-top: 3%;
  }
}

@media screen and (min-width: 768px) {
  #story_banner div.program {
    height: 200px;
  }
  #story h2 {
    margin-top: 0;
  }
  #slider {
    margin-top: 3%;
    padding: 3%;
  }
  #slider figure > img {
    border-radius: 49px;
    border: 0.2px solid #dcdcdc;
  }
  #event {
    display: flex;
    align-items: start;
  }
  #event div.event_info {
    width: 60%;
    padding-right: 5%;
  }
  #event .social_media {
    width: 40%;
    align-self: start;
  }
}
@media screen and (min-width: 992px) {
  #story h2 {
    margin-top: -5%;
  }
  #event .social_media {
    width: 30%;
    align-self: start;
  }
  #event {
    margin-top: -2%;
  }
  #slider {
    height: 635px;
  }
}
@media screen and (min-width: 1200px) {
  #event div.event_info {
    width: 750px;
  }
  #event {
    padding: 0 5% 2% 5%;
  }
  #slider {
    height: 735px;
  }
  #upcoming_events {
    padding: 0% 0 5% 7%;
}
}
@media screen and (min-width: 1400px) {
  #event .social_media {
    width: 20%;
  }
  #slider {
    margin-top: 5%;
  }
  #story h2 {
    margin-top: -7%;
  }
}
@media screen and (min-width: 1600px) {
  #event .social_media {
    width: 18%;
  }
  #slider {
    height: 800px;
    margin-top: 8%;
  }
  #story h2 {
    margin-top: -11%;
  }
}
