#story_banner div.program {
  padding: 3%;
  text-align: center;
  height: 300px;
  top: 100px;
  align-items: unset;
}
#story_banner div.program:has(h1 em[class='culture']),
#story_banner div.program:has(h1 em[class='sports']) {
  height: 250px;
}

main#inAction:has(#story_banner div.program h1 em[class='culture'])
  div#slider
  > figure#rotator
  img.imagenes {
  object-position: left 50% top 85px;
}
main#inAction:has(#story_banner div.program h1 em[class='skills'])
  div#slider
  > figure#rotator
  img.imagenes {
  object-position: left 40% top 165px;
}

@media screen and (min-width: 576px) {
  #story_banner div.program {
    height: 280px;
  }
  #story h2 {
    margin-top: 3%;
  }
  #story_banner div.program {
    top: 125px;
  }
}

@media screen and (min-width: 768px) {
  #story_banner div.program {
    height: 180px;
  }
  #story_banner:has(> div.program) {
    height: 300px;
  }
  section#story_banner figure.prgm {
    height: 200px;
  }

  #story_banner div.program {
    top: 115px;
  }
  #story h2 {
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  #story_banner:has(> div.program) {
    height: 325px;
  }
  #story h2 {
    margin-top: -5%;
  }
}
@media screen and (min-width: 1200px) {
  #story_banner:has(> div.program) {
    height: 445px;
  }
  section#story_banner figure.prgm {
    height: 280px;
  }
  #story_banner div.program {
    height: 280px;
  }
  #upcoming_events {
    padding: 0% 0 5% 7%;
  }
}
@media screen and (min-width: 1400px) {
  #event .social_media {
    width: 20%;
  }
  #story h2 {
    margin-top: -7%;
  }
}
@media screen and (min-width: 1600px) {
  #event .social_media {
    width: 18%;
  }
  #story h2 {
    margin-top: -11%;
  }
}
