#story_banner div.program {
  padding: 3%;
  text-align: center;
  height: 300px;
  top: 100px;
  align-items: unset;
}
#story_banner div.program:has(h1 em[class='culture']),
#story_banner div.program:has(h1 em[class='sports']) {
  height: 250px;
}
section#story_banner figure.prgm img {
  object-fit: cover;
}

main#inAction:has(#story_banner div.program h1 em[class='culture'])
  div#slider
  > figure#rotator
  img.imagenes {
  object-position: left 50% top 25px;
}
main#inAction:has(#story_banner div.program h1 em[class='skills'])
  div#slider
  > figure#rotator
  img.imagenes {
  object-position: left 40% top 70px;
}

@media screen and (min-width: 576px) {
  #story_banner div.program {
    height: 280px;
  }
  #story_banner:has(> div.program) h1 {
    margin-top: 5%;
  }

  #story_banner div.program {
    top: 125px;
  }
  #story_banner div.program:has(h1 em[class='culture']),
  #story_banner div.program:has(h1 em[class='sports']) {
    height: 225px;
  }
}

@media screen and (min-width: 768px) {
  #story_banner div.program {
    height: 180px;
  }
  #story_banner:has(> div.program) h1 {
    margin-top: 3%;
  }
  #story_banner:has(> div.program) {
    height: 300px;
  }
  section#story_banner figure.prgm {
    height: 200px;
  }
  #story_banner div.program:has(h1 em[class='culture']),
  #story_banner div.program:has(h1 em[class='sports']) {
    height: 185px;
  }
  #story_banner div.program {
    width: 100%;
    top: 115px;
  }
  main#inAction div#top_banner:has(#story_banner div.program) {
    height: 300px;
  }
  main#inAction:has(#story_banner div.program h1 em[class='culture'])
    div#slider
    > figure#rotator
    img.imagenes {
    object-position: left 50% top 0;
  }
  main#inAction:has(#story_banner div.program h1 em[class='skills'])
    div#slider
    > figure#rotator
    img.imagenes {
    object-position: left 50% top -5px;
  }
  main#inAction:has(#story_banner div.program) ul.pagination li button#prev,
  main#inAction:has(#story_banner div.program) ul.pagination li button#nex {
    top: 600px;
  }
}
@media screen and (min-width: 992px) {
  #story_banner div.program {
    width: 80%;
  }
  #story_banner:has(> div.program) h1 {
    margin-top: 2%;
  }
}
@media screen and (min-width: 1200px) {
  main#inAction div#top_banner:has(h1 em[class='culture']) {
    height: 290px;
  }
  section#story_banner figure.prgm {
    height: 215px;
  }
  #story_banner:has(> div.program) h1 {
    margin-top: 0%;
  }
  main#inAction:has(#story_banner div.program) ul.pagination li button#prev,
  main#inAction:has(#story_banner div.program) ul.pagination li button#nex {
    top: 750px;
  }
  main#inAction:has(#story_banner div.program) section#event {
    margin: 0 5%;
  }
  main#inAction:has(#story_banner div.program) section#event div.event_info {
    margin-bottom: 2%;
  }
  main#inAction:has(#story_banner div.program)
    section#event
    section.social_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }
}
@media screen and (min-width: 1400px) {
  main#inAction:has(#story_banner div.program)
    section#event
    section.social_media
    ul {
    width: 70%;
    align-items: center;
  }
}
@media screen and (min-width: 1600px) {
  #story_banner:has(> div.program) h1 {
    margin-top: -1%;
  }
  main#inAction:has(#story_banner div.program) ul.pagination li button#prev,
  main#inAction:has(#story_banner div.program) ul.pagination li button#nex {
    top: 800px;
  }
}
@media screen and (min-width: 2000px) {
  main#inAction:has(#story_banner div.program) section#story {
    margin-top: 2%;
  }
}
